.box {
    display: -webkit-box
}

.center {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center
}

body, section, dd, dl, dt, form, h1, h2, h3, h4, h5, li, ol, p, td, ul, hr {
    margin: 0;
    padding: 0
}

ol, ul {
    list-style: none
}

a {
    text-decoration: none
}

.nav {
    font-size: 13px;
    padding: 0 12px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
    box-align: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc
}

@media (-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
    .nav {
        border: none;
        background-image: -webkit-linear-gradient(top, transparent 0, transparent 50%, #ccc 50%, #ccc 100%);
        background-image: linear-gradient(to bottom, transparent 0, transparent 50%, #ccc 50%, #ccc 100%);
        background-position: bottom;
        background-size: 100% 1px, 1px 100%;
        background-repeat: no-repeat
    }
}

.nav .normal {
    color: #3d4245;
    text-align: center
}

.nav .normal.selected {
    position: relative;
    color: #800019
}

.nav .normal.selected:after {
    content: ' ';
    background-color: #800019;
    width: 31%;
    height: 3px;
    border-radius: 18px 18px 0 0;
    -moz-border-radius: 18px 18px 0 0;
    -webkit-border-radius: 18px 18px 0 0;
    position: absolute;
    bottom: 0;
    left: 34%
}

#util_toastMessage {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999
}

#util_toastMessage .content {
    display: inline-block;
    margin: auto;
    padding: 15px;
    max-width: 70%;
    background: #333;
    color: #fff;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    white-space: normal
}

#util_dialog_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999
}

#util_dialog_bg ul {
    position: relative;
    width: 80%;
    height: auto;
    padding: 5px;
    margin: 0;
    background-color: #fff
}

#util_dialog_bg ul li {
    list-style: none
}

#util_dialog_bg ul li span, #util_dialog_bg ul li div span {
    text-align: center;
    font-size: 14px
}

#util_dialog_bg ul li:nth-child(1) {
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px;
    border-right-color: #333;
    border-style: solid;
    text-align: center
}

#util_dialog_bg ul li:nth-child(3) {
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center
}

#util_dialog_bg ul li:nth-child(3) div {
    position: relative;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-size: 14px
}

#util_dialog_bg ul li:nth-child(3) div:first-child {
    height: 33px;
    border: 1px;
    border-right-color: #c82d0d;
    border-style: solid;
    color: #e32d09
}

#util_dialog_bg ul li:nth-child(3) div:last-child {
    height: 35px;
    background-color: #e32d09;
    color: #fff
}

/*@font-face {
    font-family: iconfontNextbutton;
    src: url(../font/iconfont-nextbutton.ttf) format('truetype'), url(../../font/iconfont-nextbutton.svg#uxiconfont) format('svg')
}*/

.box_align {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center
}

body {
    margin: 0;
    padding: 0
}

/*useful*/
div.cell {
    width: 100%;
    height: 208px;
    background-color: #e5e5e5;
}

.album {
    margin-left: 6px;
    margin-right: 6px;
    border: 1px solid #ccc;
    background-color: #fff
}

@media (-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
    .album {
        border: none;
        background-image: -webkit-linear-gradient(top, #ccc 0, #ccc 50%, transparent 50%, transparent 100%), -webkit-linear-gradient(right, #ccc 0, #ccc 50%, transparent 50%, transparent 100%), -webkit-linear-gradient(bottom, #ccc 0, #ccc 50%, transparent 50%, transparent 100%), -webkit-linear-gradient(left, #ccc 0, #ccc 50%, transparent 50%, transparent 100%);
        background-image: linear-gradient(to top, transparent 0, transparent 50%, #ccc 50%, #ccc 100%), linear-gradient(to right, transparent 0, transparent 50%, #ccc 50%, #ccc 100%), linear-gradient(to bottom, transparent 0, transparent 50%, #ccc 50%, #ccc 100%), linear-gradient(to left, transparent 0, transparent 50%, #ccc 50%, #ccc 100%);
        background-position: top, right, bottom, left;
        background-size: 100% 1px, 1px 100%;
        background-repeat: no-repeat
    }
}

section.status {
  width: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  margin-top: 8px
}
/*useful*/

section.countclass {
  white-space: nowrap;
  color: #999;
  display: -webkit-box;
  -webkit-box-pack: center;
  margin-left: 6px;
  bottom: 19px/*;
    position: absolute*/
}

.bannerImg {
    width: 100%;
    height: 127px;
    margin-top: 1px
}

.titlehere {
    margin-left: 6px;
    font-size: 16px
}

section.count {
    white-space: nowrap;
    color: #999;
    width: 65px;
}

span.numverclass {
    padding-left: 3px;
    font-size: 12px
}

section.bidcount {
    white-space: nowrap;
    font-size: 12px;
    color: #999;
    margin-left: 13px
}

section.bidTime {
    margin-left: 42%;
    height: 22px;
    line-height: 22px;
    /*position: absolute;
    right: 3px;*/
    display: -webkit-box/*;
    bottom: 25px*/
}

section.bidTime > span {
    color: #fff;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 13px
}

section.bidTime2 > span {
    color: #fff;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 13px
}

.cornerbidding {
    width: 0;
    height: 0;
    border: solid 2px;
    border-color: #1f0606 #eee #eee #1f0606;
    position: absolute;
    bottom: -4px;
    right: 0
}

.cornerbided {
    width: 0;
    height: 0;
    border: solid 2px;
    border-color: #1f0606 #eee #eee #1f0606;
    position: absolute;
    bottom: -4px;
    right: 0
}

.cornertobe {
    width: 0;
    height: 0;
    border: solid 2px;
    border-color: #008060 #f1f1f1 #f1f1f1 #008060;
    position: absolute;
    bottom: -4px;
    right: 0
}

.iconClock {
    font-family: iconfont;
    font-style: normal;
    color: #aa8d56;
    padding-right: 3px;
    font-size: 14px
}

.barclasslast {
    width: 33%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center
}

#pmp_list_container {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center
}

#fframe_container {
    overflow: hidden;
    position: relative
}

body.error {
    background-color: #e5e5e5
}

#fframe_container .errorDiv {
    color: #666;
    margin: 50% 12px
}

.redColor {
    color: #800019
}

.goldenColor {
    color: #008060
}

.grayColor {
    color: #838383
}

.redBackgroundColor {
    background-color: #800019
}

.goldenBackgroundColor {
    background-color: #008060
}

.grayBackgroundColor {
    background-color: #838383;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px
}

section.bidcount2 {
    white-space: nowrap;
    position: absolute;
    left: 100px
}

section.bidTime2 {
    margin-left: 60%;
    height: 22px;
    line-height: 22px;
    /*position: absolute;
    right: 3px;*/
    display: -webkit-box/*;
    bottom: 16px*/
}

div.titlecell {
    width: 100%;
    height: 30px;
    display: -webkit-box;
    -webkit-box-align: center;
    padding-left: 8px;
    color: #414840
}

section#fftitle {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 30px;
    display: -webkit-box;
    -webkit-box-align: end;
    background-color: rgba(223, 223, 221, .9);
    color: #414840;
    padding-left: 8px
}

span.titleclass {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center
}

div.tips {
    width: 100%;
    height: 44px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-size: 14px;
    color: #656565
}

/*.nextButton {
    font-family: iconfontNextbutton;
    font-style: normal;
    padding-left: 7px;
    font-size: 15px;
    color: #656565
}*/

#category_pmp {
    display: -webkit-box;
    -webkit-box-pack: center;
    background-color: #e5e5e5
}

section.tipsshow {
    margin-top: -14px
}

/*useful*/
section.imgdivClass {
    margin-left: 1px;
    margin-right: 1px
}
/*useful*/

.cmd {
    height: 124px;
    margin-left: 7px;
    margin-right: 7px;
    display: -webkit-box;
    overflow: hidden
}

img.leftcommand {
    height: 114px;
    width: 100%
}

img.righttopcommand {
    height: 54px;
    width: 100%;
    position: relative;
    left: 2px
}

img.rightbottomcommand {
    height: 54px;
    width: 100%;
    position: relative;
    left: 2px;
    top: 2px
}

section#commandContainer {
    width: 100%;
    position: relative;
    height: 114px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center
}

section.leftContainer {
    width: 50%;
    height: 114px;
    right: 3px;
    position: relative;
    overflow: hidden
}

section.rightContainer {
    width: 50%;
    height: 114px;
    overflow: hidden
}

section.rightTopConatiner {
    width: 100%
}

section.rightBottomConatiner {
    width: 100%;
    z-index: 22;
    overflow: hidden
}

.commandbanner {
    width: 100%;
    height: 142px;
    overflow: hidden;
    display: -webkit-box
}

section#bannerContainer {
    height: 127px;
    overflow: hidden;
    margin-left: 6px;
    margin-right: 6px;
    border: 1px solid #ccc;
    background-color: #fff
}

img.bannner2 {
    width: 100%;
    height: 127px;
    overflow: hidden
}

/*useful*/
.banner {
    width: 100%;
    height: 160px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.banner img {
    width: 100%
}


.home_banner_spliter {
    width: 100%;
    background-color: #e5e5e5;
    height: 20px
}
/*useful*/

.item_desc_container .simple {
    height: 55px
}

.item_simple {
    width: 100%;
    height: 100%;
    line-height: 40px;
    position: relative;
    display: -webkit-box;
    padding-left: 9px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.item_simple .comment {
    width: 75%;
    font-size: 14px;
    color: #010101;
    position: relative;
    -webkit-box-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-spacing: -2px;
    height: 40px;
    line-height: 1;
    margin: 11px 0
}

.full_split {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #d1d1d1
}

@font-face {
    font-family: pm-iconfont;
    src: url(../font/pm-iconfont.ttf) format('truetype')
}

.pm-iconfont {
    font-family: pm-iconfont, serif;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased
}

@font-face {
    font-family: pm-util-iconfont;
    src: url(../font/pm-util-iconfont.ttf) format('truetype')
}

.pm-util-iconfont {
    font-family: pm-util-iconfont, serif;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased
}

.full-screen {
    height: 100%
}

.full-screen .main-container {
    overflow: hidden
}

.main-container {
    width: 100%;
    height: 100%
}

.main-container .fixed-overlay {
    z-index: 1001 !important
}

.first-screen {
    /*padding-bottom:1.53125rem;*/
}

.main-op {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 10rem;
    height: 1.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0 -.03125rem .09375rem rgba(0, 0, 0, .08);
    box-shadow: 0 -.03125rem .09375rem rgba(0, 0, 0, .08);
    animation: showUp 1s linear;
    -webkit-animation: showUp .3s linear
}

.main-op .main-op-ww, .main-op .pm-remind-wrap, .main-op .rc-collect-wrap {
    float: left
}

.main-op .main-btn {
    /*margin-left: 4.3125rem;*/
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: #820011;
    color: #fff;
    font-size: .4375rem;
    text-align: center
}

.main-op .main-op-ww {
    width: 1.4375rem;
    text-align: center;
    border-right: 1px solid #e0e0e0
}

@media (-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
    .main-op .main-op-ww {
        border: none;
        background-image: -webkit-linear-gradient(right, transparent 100%, transparent 50%, #e0e0e0 50%, #e0e0e0 0);
        background-image: linear-gradient(to right, #e0e0e0 100%, #e0e0e0 50%, transparent 50%, transparent 0);
        background-position: right;
        background-size: 1px 100%;
        background-repeat: no-repeat
    }
}

.pm-remind {
    color: #000;
    text-align: center;
    width: 1.4375rem;
    height: 1.5rem;
    display: inline-block;
    position: relative;
    font-size: .3125rem
}

.pm-remind i {
    display: block;
    margin-bottom: .15625rem;
    margin-top: .25rem;
    font-size: .53125rem
}

.pm-remind span {
    display: block
}

.pm-remind.disabled {
    opacity: .1
}

.main-op .pm-remind-wrap {
    width: 1.4375rem;
    text-align: center;
    border-right: 1px solid #e0e0e0
}

@media (-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
    .main-op .pm-remind-wrap {
        border: none;
        background-image: -webkit-linear-gradient(right, transparent 100%, transparent 50%, #e0e0e0 50%, #e0e0e0 0);
        background-image: linear-gradient(to right, #e0e0e0 100%, #e0e0e0 50%, transparent 50%, transparent 0);
        background-position: right;
        background-size: 1px 100%;
        background-repeat: no-repeat
    }
}

.main-op .pai-icon {
    font-family: pm-iconfont, serif;
    font-size: .59375rem;
    margin-right: .203125rem
}

.main-btn.wait-order {
    color: #fff;
    background-color: #e2e2e2
}

.main-btn .jiaobao {
    line-height: 1;
    padding-top: .359375rem
}

.main-btn .jiaobao .action {
    text-align: center;
    font-size: .4375rem;
    margin-bottom: .109375rem
}

.main-btn .jiaobao .foregift {
    font-size: .34375rem
}

.main-btn .left {
    background-color: #000
}

.main-btn .column {
    float: left;
    width: 50%;
    height: 100%
}
